@font-face {
    font-family: opensans;
    src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}

body {
    font-size: 1rem;
    font-family: opensans;
}

h1 {
    font-size: 3.5rem;
    color: var(--color-black);

    @media (max-width: 991px) {
        font-size: 2rem;
    }
}

h2 {
    font-size: 2.6rem;
    font-weight: 600;

    @media (max-width: 991px) {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;

    @media (max-width: 991px) {
        font-size: 1.3rem;
    }
}

h4 {
    font-size: 1.3rem;
    font-weight: 500;

    @media (max-width: 991px) {
        font-size: 1.2rem;
    }
}