.u-container {
    max-width: 92rem;
    margin: 0 auto;
}

.u-px {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}


.u-color--success {
    color: var(--color-success);
}

.u-hover-color-success {
    &:hover {
        color: var(--color-success); 
    }
}

.u-bkg--success {
    background-color: var(--color-success);
}

.u-hover-bkg-success {
    &:hover {
        background-color: var(--color-success); 
    }
}

.u-bkg--success-light {
    background-color: var(--color-success-light);
}

.u-hover-bkg-success-light {
    &:hover {
        background-color: var(--color-success-light); 
    }
}

.u-color--white {
    color: var(--color-white);
}

.u-bkg--white {
    background-color: var(--color-white);
}

.u-hover-color-white {
    &:hover {
        color: var(--color-white); 
    }
}

.u-color--black {
    color: var(--color-black);
}

.u-hover-color-black {
    &:hover {
        color: var(--color-black);
    }
}

.u-hover-bkg-black {
    &:hover {
        background-color: var(--color-black);
    }
}

.u-bkg--black {
    background-color: var(--color-black);
}

.u-bkg--light-blue {
    background-color: var(--color-light-blue);
}