:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-success: #FF6F61;
    --color-success-light: rgba(245, 98, 79, 0.7);
    --color-light-blue: #eef0f5;
}

$mobile-xss: 380px;
$mobile-xs: 440px;
$mobile-sm: 768px;
$mobile: 1024px;
$desktop: 1025px;
$desktop-md: 1280px;
$desktop-lg: 1440px;
$desktop-xl: 1680px;